:root {
  --color-bg: #f7fafc;
  --color-header-bg: linear-gradient(90deg, #4f8cff 0%, #4f8dffa5 100%);
  --color-header-text: #fff;
  --color-header-shadow: 0 2px 8px rgba(79, 140, 255, 0.08);
  --color-footer-bg: #e9f1fb;
  --color-footer-text: #4f8cff;
  --color-footer-text-2: #1d1f20;
  --color-footer-text-3: #555;
  --color-primary: #4f8cff;
  --color-secondary: #38c6ff;
  --color-btn-shadow: rgba(79, 140, 255, 0.12);
}
